#portfolio{
  padding-bottom: 60px;
  display: block;
  background-color: #edeeef;
  font-family: "Marvel", sans-serif;
  font-size: 20px;
  height: fit-content;
}

.project{
    display: inline-block;
    margin: 15px 0;
    padding: 15px 0;
    position: relative;
    border: 1px solid #ddc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.project img {
  width: 100%;
  height: auto;

}

.pbtn {
  text-align: center;
  width: 100px;
  background-color: #EDEEEF;
  transition: .3s;
}

.pbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.pbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.pbtn:hover {
  border-color: blue;
}

.pbtn:hover span {
  padding-right: 25px;
}

.pbtn:hover span:after {
  opacity: 1;
  right: 0;
}